@using ASC.Model.BaseTypes
@{
    Layout = "_SecureLayout";
}

<div class="row"></div>
@await Html.PartialAsync("_ServiceRequestGrid", Model.ServiceRequests,
        new ViewDataDictionary(ViewData)
    {
        { "SectionName", "Service Requests" },
        { "Id", "tblServiceRequests" },
        { "IsAudit", false }
    })



@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('#tblServiceRequests').DataTable({
                'pageLength': 3,
                'lengthMenu': [[3, 5, 10, -1], [3, 5, 10, 'All']],
                'sorting': [],
                'columns': [
                    { "visible": false, "targets": 0 }, // RowKey
                    { "visible": false, "targets": 1 }, // PartitionKey (dữ liệu)
                    { "targets": 2 },                   // User (hiển thị) - có thể để null nếu không có tùy chỉnh
                    { "width": "20%", "targets": 3 },  // Status
                    { "targets": 4 },                   // RequestedDate - có thể để null
                    { "targets": 5 },                   // ServiceEngineer - có thể để null
                    { "orderable": false, "targets": 6 } // View - thường không muốn sắp xếp cột actions
                ]
            });
            $('.tblServiceRequests').css("width", "100%");
            $('select[name="ServiceRequests_length"]').formSelect();
        });
    </script>
}